/*MAIN*/
* {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
}

.h1 {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.h2 {
    color: #0EA5E9;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main {
    max-width: 800px;
    margin: 0 auto;
}

/*HEADER*/
.header {
    height: 80px;
    background-color: #0EA5E9;;
}

.header__container {
    padding-top: 27px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 800px;
    margin: 0 auto;
}

/*LOGIN and REGISTRATION*/
.p__button {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.p__input {
    margin-top: 8px;
}

.section {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.section__container {
    line-height: 100%;
    align-self: center;
}

.section__container_title {
    text-align: center;
    margin-bottom: 47px;
}

.section__input {
    height: 48px;
    width: 400px;
}

.section__button {
    height: 36px;
    width: 200px;
    background-color: #0EA5E9;
}

.section__container__cell {
    height: 75px;
    margin: 20px 0;
}

.section__container__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 93px;
    margin: 20px 0;
}


/*product*/

.product {
    margin: 30px 20px;
    display: flex;
    flex-direction: row;
}

.product__block {
    display: flex;
    flex-direction: column;
    border: red 1px solid;
    justify-content: space-between;
}

.product__block__grow {
    flex-grow: 100;
}

.product__cell {
    display: flex;
    flex-direction: row;
    border: green 1px solid;
    flex-grow: 100;
    justify-content: space-between;
}

.product__image {
    height: 150px;
    width: 150px;
    border: blue 1px solid;
}

.product__phone {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 30px;
    width: 150px;
    border: 1px solid #0EA5E9;
    background: #0EA5E9;
}

.product__cell__description {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.product__title {

}

.product__about {
    margin-top: 10px;
}

.product__sum {
    height: 30px;
    width: 120px;
    text-align: end;
}

.product__name {
    margin: 0 20px;
}
