* {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
}



.header {
    height: 80px;
    background-color: #0EA5E9;;
}

.header__container {
    padding-top: 27px;
    padding-left: 20px;
    padding-right: 20px;
}

.h1 {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.h2 {
    color: #0EA5E9;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.p__button {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.p__input {
    margin-top: 8px;
}

.section {
    display: flex;
    justify-content: center;
}

.section__container {
    line-height: 100%;
    margin-top: 275px;
}

.section__container2 {
    line-height: 100%;
    margin-top: 105px;
}

.section__container_title {
    text-align: center;
    margin-bottom: 47px;
}

.section__input {
    height: 48px;
    width: 400px;
}

.section__button {
    height: 36px;
    width: 200px;
    background-color: #0EA5E9; //Поменять
}

.section__container__cell {
    height: 75px;
    margin: 20px 0;
}

.section__container__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 93px;
    margin: 20px 0;
}